@model JalgrattaeksamMVC.Models.Jalgrattaeksam

@{
	ViewBag.Title = "TheoryResult";
}

<h2>@Model.Eesnimi @Model.Perenimi teooria tulemus</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<h4>Jalgrattaeksam</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Eesnimi)
	@Html.HiddenFor(model => model.Perenimi)
	@Html.HiddenFor(model => model.Ringtee)
	@Html.HiddenFor(model => model.Slaalom)
	@Html.HiddenFor(model => model.Uulits)
	@Html.HiddenFor(model => model.Luba)
	<div class="form-group">
		@Html.LabelFor(model => model.Teooria, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Teooria, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Teooria, "", new { @class = "text-danger" })
		</div>
	</div>


	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
	@Html.ActionLink("Back to List", "Theory")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
